* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    --height: 68px;
    --line-height: 68px;
    min-width: 186px;
    font-weight: 600;
    font-size: 18px;
    height: var(--height);
    line-height: var(--line-height);
    text-align: center;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.hero__summary-title {
    font-weight: 500;
    font-size: 1rem;
    color: #0d1111;
    text-align: center;
}

.feature-item__desc {
    margin-top: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.69;
    color: #9da6a5;
}

.feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 106px;
    border-radius: 18px;
}

.feature__title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    color: #0d1111;
}

/* Header */

.header {
    min-height: 100vh;
    margin-top: 52px;
    padding-bottom: 79px;
}

.logo {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 32.14px;
    height: 32.73px;
    background: #192122;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo-left {
    rotate: 130deg;
}

.logo-right {
    margin-left: 6px;
}

.header-top {
    display: flex;
    align-items: center;
}

.header-list__item {
    display: flex;
    margin-left: 215px;
}

.header__item-link {
    padding: 5px 20px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #2f3a3b;
    transition: 0.25s;
}

.header__item-link:hover {
    font-weight: 600;
    font-size: 1.6rem;
    color: #2f3a3b;
}

.action-btn {
    display: flex;
    align-items: center;
    margin-left: 157px;
}

.sign-in {
    font-weight: 400;
    font-size: 1.6rem;
    color: #494949;
}

.btn-cta {
    margin-left: 24px;
    font-weight: 600;
    font-size: 1.6rem;
    --line-height: 48px;
    min-width: 108px;
    height: 48px;
    text-align: center;
    color: #1ebfc1;
    background: transparent;
    border: 1px solid #1ebfc1;
    border-radius: 6px;
    box-shadow: none;
}

.hero__heading {
    max-width: 458px;
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;
    color: #0d1111;
}

.hero {
    margin-top: 50px;
}

.hero-content {
    width: 41%;
}

.hero__desc {
    white-space: pre-line;
    margin-top: 15px;
    max-width: 374px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9da6a5;
}

.hero__row {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.hero-icon {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero__image {
    position: relative;
}

.hero__summary1 {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 18px 25px;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    background: #fefefd;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.hero__summary1-text {
    position: relative;
    margin-left: 16px;
}

.hero__summary1-text::before {
    position: absolute;
    top: 16px;
    left: -48px;
    content: "";
    display: block;
    width: 28px;
    height: 4px;
    background: #ffffff;
    border-radius: 4px;
}

.hero__summary2 {
    padding: 16px 25px 23px;
    position: absolute;
    bottom: 46px;
    left: -65px;
    width: 124px;
    height: 132px;
    background: #ffffff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero__summary-title {
    font-weight: 500;
    font-size: 1rem;
    color: #0d1111;
    text-align: center;
}

.hero__summary2-solid1,
.hero__summary2-solid2,
.hero__summary2-solid3 {
    position: relative;
    margin-top: 16px;
    width: 74px;
    height: 6px;
    background: #edf1f5;
    border-radius: 3px;
}

.hero__summary2-solid1::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 39px;
    height: 6px;
    background: #fb9899;
    border-radius: 3px;
}

.hero__summary2-solid2::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 51px;
    height: 6px;
    background: #fb9899;
    border-radius: 3px;
}

.hero__summary2-solid3::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 33px;
    height: 6px;
    background: #fb9899;
    border-radius: 3px;
}

.hero__summary2-solid4 {
    margin-left: 26px;
    margin-top: 16px;
    width: 26px;
    height: 6px;
    background: #edf1f5;
    border-radius: 3px;
}

.hero__summary3 {
    position: absolute;
    bottom: 41px;
    right: 45px;
    width: 207px;
    height: 90px;
    padding: 17px 35px;
    background: #fefefd;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.avatar-group {
    margin-top: 8px;
    display: flex;
}

.avt {
    margin-left: -7px;
}

.avt:first-child {
    margin-left: 0;
}

/* Feature */
.feature {
    margin-top: 65px;
    padding: 65px 0;
}

.feature__small {
    font-weight: 700;
    font-size: 1.2rem;
    color: #767e7e;
}

.feature__heading {
    max-width: 577px;
    margin-top: 18px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.33;
    color: #0d1111;
}

.feature__desc {
    max-width: 590px;
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 27px;
    color: #767e7e;
}

.feature__list-item {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 205px;
}

.icon1 {
    background-color: #ffc147;
}

.desc1 {
    max-width: 168px;
}

.icon2 {
    background: #ff947a;
}

.desc2 {
    max-width: 233px;
}

.icon3 {
    background: #bf83ff;
}

.desc3 {
    max-width: 224px;
}

/* Popular */

.popular {
    margin-top: 65px;
    padding: 65px 0;
}

.popular__small {
    font-weight: 700;
    font-size: 1.2rem;
    color: #767e7e;
}

.popular__heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 4.2rem;
    color: #0d1111;
}

.popular__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular__desc {
    max-width: 525px;
    margin-top: 19px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #767e7e;
}

.popular__view {
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration-line: underline;
    color: #1ebfc1;
}

.popular__list-item {
    margin-top: 79px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 47px;
}

.popular-item {
    position: relative;
}

.popular__img {
    width: 359px;
    height: 393px;
    object-fit: cover;
}

.popular-summary {
    position: absolute;
    bottom: -103px;
    left: 17px;
    padding: 18px 0 29px 25px;
    width: 325px;
    height: 170px;
    background: #ffffff;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.popular-title {
    font-weight: 700;
    font-size: 2.2rem;
    color: #0d1111;
}

.dollar {
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.popular-fee {
    font-weight: 400;
    font-size: 14px;
    color: #9da6a5;
}

.popular-dollar {
    margin-left: 3px;
    font-weight: 700;
    font-size: 1.8rem;
    color: #0d1111;
}

.popular-item__desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #9da6a5;
}

.popular-item__row {
    margin-top: 18px;
}

.class {
    position: relative;
    margin-left: 14px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #9da6a5;
}

.month::before,
.class::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1ebfc1;
}

.class::before {
    left: -14px;
    top: 5px;
}

.month {
    position: relative;
    margin-left: 26px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #9da6a5;
}

.month::before {
    top: 7px;
    left: -12px;
}

/* Stas */
.stats {
    padding: 0 291px;
    margin-top: 200px;
}

.stats__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 210px;
}

.stats-item {
    font-weight: 700;
    font-size: 6.2rem;
    color: #0d1111;
}

.stats__desc {
    margin-top: 11px;
    font-weight: 400;
    font-size: 1.8rem;
    color: #767e7e;
}

/* Blog */

.blog {
    margin-top: 264px;
}

.blog__content {
    width: 35.9%;
}

.blog__desc {
    max-width: 420px;
    margin-top: 27px;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5d6564;
}

.blog__row {
    display: flex;
    margin-top: 33px;
}

.blog__name {
    font-weight: 500;
    font-size: 1.6rem;
    color: #070707;
}

.student {
    margin-left: 3px;
    font-weight: 100;
    font-size: 1.6rem;
    color: #5d6564;
}

.blog-control {
    display: flex;
    margin-top: 52px;
    column-gap: 30px;
}

.control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #2ac9bf;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.blog__inner {
    display: flex;
    align-items: center;
}

.blog__member {
    position: relative;
    margin-left: 72px;
}

.bgc {
    background: var(--bg-avartar, #fff);
    border-radius: 50%;
}

.avartar1,
.avartar2,
.avartar3,
.avartar4,
.avartar5,
.avartar6 {
    object-fit: cover;
}

.avartar1 {
    width: 235px;
    height: 235px;
}
.bgc-avartar1 {
    width: 235px;
    height: 235px;
    margin-left: 273px;
}

.avartar2,
.bgc-avartar2 {
    width: 92px;
    height: 92px;
}

.bgc-avartar2 {
    position: absolute;
    top: -119px;
    left: 164px;
}

.avartar3,
.bgc-avartar3 {
    width: 110px;
    height: 110px;
}

.bgc-avartar3 {
    position: absolute;
    top: -103px;
    left: 538px;
}

.bgc-avartar4 {
    position: absolute;
    bottom: -110px;
    right: -120px;
}

.bgc-avartar5 {
    position: absolute;
    bottom: -154px;
    right: 209px;
}

.bgc-avartar6 {
    position: absolute;
    top: 156px;
}

.avartar4,
.bgc-avartar4,
.avartar5,
.bgc-avartar5,
.avartar6,
.bgc-avartar6 {
    width: 78px;
    height: 78px;
}

.get {
    background: #def6f5;
    margin-top: 130px;
    padding: 76px 0 88px;
}

.get__inner {
    display: flex;
}

.get__heading {
    font-weight: 700;
    font-size: 4.2rem;
    color: #070707;
}

.get__desc {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.8rem;
    color: #767e7e;
}

.get-btn {
    margin-left: 410px;
}
/* Footer */

.footer {
    padding: 135px 0 50px;
}

.footer__inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 140px;
}

.footer-logo {
    margin-top: -175px;
}

.footer__heading {
    font-weight: 500;
    font-size: 1.8rem;
    color: #2e2e2e;
}

.list__item {
    margin-top: 25px;
}

.link__item {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #535353;
    white-space: nowrap;
}

.footer-social {
    margin-left: 10px;
}

.copy-right {
    padding-top: 55px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #b0b5b4;
}
